@import '../../globals/constants.less';
@import '../../globals/responsive.less';

.addendum_box {
  width: 100%;
  display: block;
  margin: 0 auto;
  border: 1px solid @base-blue;
  border-radius: 4px;
  padding: 1em;
  background: white;
  .mobile({
    margin-top: -0.5em;
  });
}

p.addendum_headline {
  color: @base-blue;
  font-size: 0.75em !important;
  font-weight: 600 !important;
  text-align: center;
  margin-bottom: 0.5em;
}
p.addendum_text {
  color: rgba(53, 58, 68, 0.7);
  font-size: 0.75em;
}
