@import '../../globals/constants.less';

.sidebar_education_box {
  padding: 5% 2em;
  p {
    color: @text-color;
  }
}

.sidebar_icon {
  margin: 0 auto;
  padding: 2em 0;
  display: block;
}

ul.sidebar_bullets {
  padding-left: 1em;
  li {
    font-size: 0.75em;
    line-height: 1.416666666667em;
    color: #7c8188;
    margin-bottom: 0.833333333em;
  }
}

p.dont_worry_tag {
  font-weight: 600;
}
